body {
	background-color: #2dd700;
}
div#register_panel {

	background-color: rgba(204,204,204,0.5);
	position: absolute;
	border-radius: 10px;
	width: 40%;
	height: 80%;
	top: 10%;
	right: 5%;
	padding-top: 100px;
	padding-left: 80px;
}